<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Utilization</title>
    <link rel="stylesheet" href="../assets/style/main.min.css">
    <script src="../assets/js/vue.global.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/all.js"></script>
  </head>
  <body>
    <header class="allPage"><a class="logo" href="login.html">
        <figure><img class="for_pc" src="../assets/img/logo_horizontal_w.png"><img class="for_phone" src="../assets/img/logo_horizontal.png"></figure></a>
      <nav class="for_pc">
        <ul class="keyOption">
          <li><a href="income.html">收益</a></li>
          <li><a href="tradeIndex.html">交易</a></li>
          <li><a href="history.html">紀錄</a></li>
          <li><a href="memberCenter.html">個人</a></li>
        </ul>
      </nav>
    </header>
    <aside class="mobileNav for_phone">
      <ul>
        <li><a href="income.html">
            <figure><img src="../assets/img/icon/income.png">
              <figcaption>
                <h5>收益</h5>
              </figcaption>
            </figure></a></li>
        <li><a href="tradeIndex.html">
            <figure><img src="../assets/img/icon/trade.png">
              <figcaption>
                <h5>交易</h5>
              </figcaption>
            </figure></a></li>
        <li><a href="history.html">
            <figure><img src="../assets/img/icon/history.png">
              <figcaption>
                <h5>紀錄</h5>
              </figcaption>
            </figure></a></li>
        <li><a href="memberCenter.html">
            <figure><img src="../assets/img/icon/user.png">
              <figcaption>
                <h5>個人</h5>
              </figcaption>
            </figure></a></li>
      </ul>
    </aside>
    <main class="history" id="vFunction">
      <article>
        <h1>交易紀錄</h1>
        <section>
          <div class="overflowTable">
            <table>
              <thead>
                <tr>
                  <th>單號</th>
                  <th>賣出時間</th>
                  <th>媒合時間</th>
                  <th>轉讓狀態</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in historyList" :key="index">
                  <td>{{ item.orderNum }}</td>
                  <td>{{ item.sellDate }}</td>
                  <td>{{ item.matchDate }}</td>
                  <td :class="getStatusClass(item.status)">{{ item.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </article>
    </main>
  </body>
</html>