<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>瓦努阿圖金融服務委員會（VFSC）牌照簡介與優勢</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="瓦努阿圖、VFSC、牌照" name="keywords">
        <meta content="了解瓦努阿圖金融服务委员会（VFSC）牌照的優勢及其對外匯交易商和客戶的好處。 探索持有VFSC牌照的交易商如何提供安全、透明的交易環境，並為客戶帶來信任與便利。" name="description">
        <meta property="og:title" content="瓦努阿圖金融服務委員會（VFSC）牌照簡介與優勢" />
        <meta property="og:image" content="https://childishsue.github.io/allwebsite/homeWorks/assets/img/carousel-2.jpg" />
        <meta property="og:description" content="了解瓦努阿圖金融服务委员会（VFSC）牌照的優勢及其對外匯交易商和客戶的好處。 探索持有VFSC牌照的交易商如何提供安全、透明的交易環境，並為客戶帶來信任與便利。" />

        <link rel="shortcut icon" href="../assets/img/logo.ico" type="image/x-icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.4/css/all.css"/>
        <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" href="../assets/lib/animate/animate.min.css"/>
        <link href="" rel="stylesheet">
        <link href="../assets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../assets/css/style.css" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="index.html" class="navbar-brand p-0">
                    <h1 class="text-primary">
                      <figure>
                        <img src="../assets/img/VanuatuFSClogo.png">
                      </figure>
                    </h1>
                    <!-- <img src="../assets/img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-bs-toggle="dropdown">
                                <span class="dropdown-toggle">關於 VFSC 牌照</span>
                            </a>
                            <div class="dropdown-menu m-0">
                                <a href="index.html#about" class="dropdown-item">簡介與優勢</a>
                                <a href="index.html#license" class="dropdown-item">牌照的重要性</a>
                                <a href="index.html#forexbroker" class="dropdown-item">有VFSC的外匯交易商</a>
                                <a href="index.html#summarize" class="dropdown-item">總結</a>
                            </div>
                        </div>
                        <a href="index.html#qa" class="nav-item nav-link">常見問題</a>
                        <a href="https://t.me/junomarkets_bot" class="nav-item nav-link">聯絡我們</a>
                    </div>
                    <a href="https://www.junomarkets.com/zh" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0">開始投資！</a>
                </div>
            </nav>

            <!-- Carousel Start -->
            <div class="header-carousel owl-carousel">
                <div class="header-carousel-item">
                    <img src="../assets/img/carousel-1.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row gy-0 gx-5">
                                <div class="col-lg-0 col-xl-5"></div>
                                <div class="col-xl-7 animated fadeInLeft">
                                    <div class="text-sm-center text-md-end">
                                        <h4 class="text-primary text-uppercase fw-bold mb-4">Safe and transparent trading environment</h4>
                                        <h1 class="display-4 text-uppercase text-white mb-4">安全透明的交易環境</h1>
                                        <p class="mb-5 fs-5">了解VFSC牌照的優勢及其對外匯交易商和客戶的好處。</p>
                                        <div class="d-flex justify-content-center justify-content-md-end flex-shrink-0 mb-4">
                                            <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="https://www.junomarkets.com/zh">Juno Markets</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-carousel-item">
                    <img src="../assets/img/carousel-2.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row g-5">
                                <div class="col-12 animated fadeInUp">
                                    <div class="text-center">
                                        <h4 class="text-primary text-uppercase fw-bold mb-4">Various financial services</h4>
                                        <h1 class="display-4 text-uppercase text-white mb-4">多種金融服務</h1>
                                        <p class="mb-5 fs-5">VFSC 負責監管和管理該國的非銀行金融服務行業，包括外匯交易、證券、保險和基金管理等</p>
                                        <div class="d-flex justify-content-center flex-shrink-0 mb-4">
                                            <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="https://www.junomarkets.com/zh">Juno Markets</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
        </div>
        <!-- Navbar & Hero End -->


        <!-- Abvout Start -->
        <div id="about" class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div>
                            <h4 class="text-primary">About VFSC</h4>
                            <h1 class="display-5 mb-4">瓦努阿圖金融服務委員會（VFSC）牌照簡介與優勢</h1>
                            <p class="mb-4">瓦努阿圖金融服務委員會（VFSC，Vanuatu Financial Services Commission）是瓦努阿圖的主要金融監管機構，成立於 1993 年。VFSC 負責監管和管理該國的非銀行金融服務行業，包括外匯交易、證券、保險和基金管理等。
                            </p>
                            <p class="mb-4">隨著全球金融市場的不斷發展，VFSC 牌照逐漸成為外匯交易商和投資者關注的焦點。
                            </p>
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <div class="d-flex">
                                        <div><i class="fas fa-university fa-3x text-primary"></i></div>
                                        <div class="ms-4">
                                            <h4>外匯交易</h4>
                                            <p>Foreign exchange trading</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <div class="d-flex">
                                        <div><i class="bi bi-bar-chart-fill fa-3x text-primary"></i></div>
                                        <div class="ms-4">
                                            <h4>證券</h4>
                                            <p>Securities</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                  <div class="d-flex">
                                      <div><i class="bi bi-heart-fill fa-3x text-primary"></i></div>
                                      <div class="ms-4">
                                          <h4>保險</h4>
                                          <p>Insurance</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-lg-6 col-xl-6">
                                  <div class="d-flex">
                                      <div><i class="fas fa-hand-holding-usd fa-3x text-primary"></i></div>
                                      <div class="ms-4">
                                          <h4>基金管理</h4>
                                          <p>Fund Management</p>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="bg-primary rounded position-relative overflow-hidden">
                          <img src="../assets/img/about-1.jpg" class="img-fluid rounded-bottom w-100" alt="">
                        </div>
                        <div class="bg-primary rounded position-relative overflow-hidden">
                          <img src="../assets/img/about-2.jpg" class="img-fluid rounded-bottom w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Services Start -->
        <div id="license" class="container-fluid service pt-5 mb-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Importance of license</h4>
                    <h1 class="display-5 mb-4">VFSC 牌照的重要性</h1>
                    <p class="mb-0">持有 VFSC 牌照的外匯交易商不僅能夠合法運營，還能享受多項優勢。VFSC 牌照意味著企業已經通過了嚴格的審核，符合國際金融監管標準，這為客戶提供了更高的信任度。以下是持有 VFSC 牌照的幾個關鍵優勢：
                    </p>
                </div>
                <div class="row justify-content-center g-4">
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="../assets/img/service-1.jpg" class="img-fluid rounded-top w-100" alt="Image">
                            </div>
                            <div class="rounded-bottom p-4">
                                <a href="#" class="h4 d-inline-block mb-4">靈活的監管環境</a>
                                <p class="mb-4">瓦努阿圖作為一個新興的離岸金融中心，以其靈活的政策和簡便的註冊流程成為金融企業焦點，使外匯交易商能夠更快地進入市場。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="../assets/img/service-2.jpg" class="img-fluid rounded-top w-100" alt="Image">
                            </div>
                            <div class="rounded-bottom p-4">
                                <a href="#" class="h4 d-inline-block mb-4">稅收優勢</a>
                                <p class="mb-4">瓦努阿圖對持牌公司的稅收政策非常優惠，幾乎沒有所得稅和資本利得稅，這為外匯交易商提供了良好的財務環境，能夠將更多資源投入到業務擴展和客戶服務中。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="../assets/img/service-3.jpg" class="img-fluid rounded-top w-100" alt="Image">
                            </div>
                            <div class="rounded-bottom p-4">
                                <a href="#" class="h4 d-inline-block mb-4">法律保護</a>
                                <p class="mb-4">客戶在選擇外匯交易商時，更傾向於選擇持有正規牌照的公司，從而確保資金安全和交易透明；持有 VFSC 牌照的公司受到法律監管，提升了交易平臺的可信度。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="../assets/img/service-4.jpg" class="img-fluid rounded-top w-100" alt="Image">
                            </div>
                            <div class="rounded-bottom p-4">
                                <a href="#" class="h4 d-inline-block mb-4">國際認可</a>
                                <p class="mb-4">VFSC 牌照在全球金融市場中受到認可，尤其是在中國市場，持牌公司能夠獲得更高的客戶信任度，並在激烈的市場競爭中佔據有利地位。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="../assets/img/service-5.jpg" class="img-fluid rounded-top w-100" alt="Image">
                            </div>
                            <div class="rounded-bottom p-4">
                                <a href="#" class="h4 d-inline-block mb-4">多樣化服務</a>
                                <p class="mb-4">持有 VFSC 牌照的公司可以提供多種金融服務，包括外匯、商品、證券等交易，為客戶提供更多選擇。 這種多樣化不僅滿足了不同客戶的需求，也提升了公司的市場競爭力。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->

        <!-- Features Start -->
        <div id="forexbroker" class="container-fluid feature pt-5 pb-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Benefits of working with a VFSC licensed Forex broker</h4>
                    <h1 class="display-5 mb-4">與持有 VFSC 牌照的外匯交易商合作的好處</h1>
                    <p class="mb-0">對您來說，與持有 VFSC 牌照的外匯交易商合作，將帶來以下好處：
                    </p>
                </div>
                <div class="row justify-content-center g-4">
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <i class="fab fa-gratipay fa-4x text-primary"></i>
                            </div>
                            <h4>增強信任感</h4>
                            <p class="mb-4">VFSC 牌照可以提高公司的信譽度，選擇擁有合法牌照的外匯交易商，使您在交易時更加放心。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <i class="fas fa-balance-scale fa-4x text-primary"></i>
                            </div>
                            <h4>安全保障</h4>
                            <p class="mb-4">VFSC 致力於維護金融服務行業的透明度和安全性，持牌公司需遵守嚴格的合規標準，從而降低您面臨的風險。 您可以確信資金在合法合規的平台上進行交易。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <i class="fas fa-bolt fa-4x text-primary"></i>
                            </div>
                            <h4>快速開戶流程</h4>
                            <p class="mb-4">持有 VFSC 牌照的公司通常能夠提供更快速和便捷的開戶流程，滿足您對效率的需求，這對於希望在市場上迅速交易的投資者尤為重要。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <i class="fas fa-globe fa-4x text-primary"></i>
                            </div>
                            <h4>跨國交易便利性</h4>
                            <p class="mb-4">持有 VFSC 牌照的公司可以開設國際銀行帳戶，有助於您進行跨國資金流動和交易，使您能夠更靈活地管理您的投資組合。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="1s">
                      <div class="feature-item p-4">
                          <div class="feature-icon p-4 mb-4">
                              <i class="fas fa-headset fa-4x text-primary"></i>
                          </div>
                          <h4>專業服務支援</h4>
                          <p class="mb-4">持有 VFSC 牌照的外匯交易商往往擁有專業團隊，能夠為您提供優質的諮詢和支持服務，這種專業性不僅提升了您的交易體驗，也説明他做出更明智的投資決策。
                          </p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- Features End -->

        <!-- Offer Start -->
        <div id="summarize" class="section parallax-container section-xl text-center section-overlay-1 text-lg-left mb-5" data-parallax-img="images/home-parallax-1.jpg"><div class="material-parallax parallax"></div>
          <div class="parallax-content">
            <div class="container pb-1 pt-5">
              <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                  <h4 class="text-primary">Summarize</h4>
                  <h1 class="display-5 mb-4">總結</h1>
                  <p class="mb-5">瓦努阿圖金融服務委員會（VFSC）所頒發的金融牌照為外匯交易商提供了良好的運營環境，同時也為其客戶帶來了信任、安全和便利等多重好處。 在全球競爭激烈的金融市場中，持有 VFSC 牌照不僅增強了公司的市場信譽，也説明其客戶獲得更好的投資體驗。因此，對於希望在外匯市場中立足並擴展業務的企業而言，申請並獲得 VFSC 牌照無疑是一個明智之舉。
                  </p>
                  <p class="mb-5">Juno Markets 正是一間擁有 VFSC 牌照的合法外匯交易商，在瓦努阿圖共和國註冊成立，實際註冊地址為 Law Partners House，Kumul Highway，Port Vila，Vanuatu。Juno Markets Limited 受瓦努阿圖金融服務委員會（VFSC）監管，並持有證券交易委託人許可證，許可證號為 40099。</p>
                  <p class="mb-5 text-danger">VFSC 金融交易商被許可人名單日期 2024 年 12 月 11 日</p>
                  <div class="d-flex justify-content-center justify-content-md-center flex-shrink-0 mb-4">
                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">現在就開始投資！</a>
                  </div>
              </div>
          </div>
          </div>
        </div>
        <!-- Offer End -->

        <!-- FAQs Start -->
        <div id="qa" class="container-fluid faq-section pb-5">
            <div class="container pb-5 overflow-hidden">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">FAQs</h4>
                    <h1 class="display-5 mb-4">常見問題</h1>
                </div>
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="accordion accordion-flush bg-light rounded p-5" id="accordionFlushSection">
                            <div class="accordion-item rounded-top">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <b>1.</b>VFSC 牌照是什麼？
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">VFSC（瓦努阿圖金融服務委員會）牌照是由瓦努阿圖政府頒發的金融監管許可，允許持牌公司在瓦努阿圖境內合法從事外匯交易、證券及其他金融服務。這種牌照因其申請條件較為寬鬆而受到許多外匯交易商的青睞。</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                      <b>2.</b>申請 VFSC 牌照的流程是什麼？
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">
                                      申請 VFSC 牌照的流程通常包括以下幾個步驟：
                                      <ol>
                                        <li>準備完整的申請文件，包括公司營運計劃和財務報告。</li>
                                        <li>向 VFSC 提交申請包，並支付相關費用。</li>
                                        <li>VFSC 將對公司的董事和股東進行適當性評估。</li>
                                        <li>若申請通過，VFSC 將授予外匯牌照，過程通常需約三個月。</li>
                                      </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <b>3.</b>持有 VFSC 牌照對客戶有什麼好處？
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">持有 VFSC 牌照的外匯交易商能夠提供更高的槓桿比例，通常在 200 至 500 倍之間，這吸引了希望利用高槓桿進行交易的客戶。此外，持牌公司需遵循一定的合規標準，這為客戶提供了一定程度的資金安全保障。</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    <b>4.</b>瓦努阿圖的外匯交易是否受到監管？
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">是的，瓦努阿圖的外匯交易活動受到 VFSC 的監管。所有在瓦努阿圖經營的外匯交易商必須獲得 VFSC 牌照，以確保其業務運作符合國際金融標準，包括反洗錢（AML）和了解你的客戶（KYC）要求。</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    <b>5.</b>非瓦努阿圖居民可以擁有 VFSC 牌照嗎？
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">可以。非瓦努阿圖居民可以在當地註冊公司並申請 VFSC 牌照，並且對於外國所有權沒有特別限制。這使得全球投資者能夠利用瓦努阿圖作為其金融業務的基地。</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="bg-primary rounded">
                            <img src="../assets/img/qa.jpg" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQs End -->

        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-md-0">
                        <span class="text-body"><a href="https://www.junomarkets.com/zh" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>Juno Markets</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 text-center text-md-end mb-md-0 d-flex">
                      <p class="align-self-center">Follow Us: </p>
                      <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.facebook.com/junomarkets/"><i class="fab fa-facebook-f text-white"></i></a>
                      <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.instagram.com/junomarkets_official/"><i class="fab fa-instagram text-white"></i></a>
                      <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.youtube.com/@junomarkets4214"><i class="bi bi-youtube text-white"></i></a>
                      <a class="btn btn-primary btn-sm-square rounded-circle me-0" href="https://www.linkedin.com/company/vanuatu-financial-services-commission/"><i class="fab fa-linkedin-in text-white"></i></a>
                  </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/lib/wow/wow.min.js"></script>
        <script src="../assets/lib/easing/easing.min.js"></script>
        <script src="../assets/lib/waypoints/waypoints.min.js"></script>
        <script src="../assets/lib/counterup/counterup.min.js"></script>
        <script src="../assets/lib/lightbox/js/lightbox.min.js"></script>
        <script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script>


        <!-- Template Javascript -->
        <script src="../assets/js/main.js"></script>
    </body>

</html>